@import '../../../styles';

.container{
  display: grid;
  grid-template-columns: [left-margin] 1fr [feed] 80% [right-margin] 2fr;
  margin-bottom: 40px;
}

.feed {
  grid-area: feed;
}

.heading-bounds {
  color: gray;
  font-size: $messaging-app-font-size-heavy;
}

.time-heading-bounds {
  color: #6e6161;
  margin-top: 20px;
  magin-bottom: 5px;
  font-size: $messaging-app-font-size;
  margin-left: 20px;
}

.mat-card-actions {
  display:flex;

  .edit-icon {
    align-self: flex-end;
  }
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.test-contianer {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.teaser-text {
  color: #777777;
}
