@import '../../styles';

.fill-space {
  flex: 1 1 auto
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 0%;
  left: 0;
  right: 0;
  display: flex;
  height: 100vh;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: green;
}
