<mat-toolbar color="primary">
  <mat-toolbar-row>
    <p class="toolbar-text">Pattonville Messaging Service</p>
    <span class="fill-space"></span>
    <form>
      <mat-form-field floatLabel="never">
        <input matInput type="text" placeholder="Search" (keyup)="fabContent.feedContent.updatePostsWithSearch(searchBar.value)" #searchBar>
      </mat-form-field>
    </form>
    <img (click)="logout()" class="user-icon" src="{{userIconLocation}}">
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" disableClose = "true" [fixedInViewport]="false">
      <div class="sidebar-content-container">
        <div class="new-post-container">
          <button mat-raised-button class="new-post-button" color="accent">New Post</button>
        </div>
        <div class="feed-options">
          <p class={{sentClass}} (click)="changeSection('sent')">Sent</p>
          <p class={{pendingClass}} (click)="changeSection('pending')">Pending</p>
          <p>Groups</p>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="main-content" #feedContainer>
        <app-fab #fab></app-fab>
    </mat-sidenav-content>
</mat-sidenav-container>
