@import '../../styles';

.fill-space {
  flex: 1 1 auto
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 0%;
  left: 0;
  right: 0;
  display: flex;
}

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.example-sidenav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: mat-color($messaging-app-accent);
}

.main-content {

}

ul {
  list-style-type: none;
  margin-top: 15px;
  color: $messaging-app-text;
  font-size: $messaging-app-font-size;
  font-weight: $messaging-app-font-weight;
}

.unselected-month {
  margin-bottom: 15px;
  text-decoration: none;
  opacity: 0.9;
  cursor: pointer;
}

.unselected-month:hover {
  margin-bottom: 15px;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
}

.selected-month {
  margin-bottom: 15px;
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
}

.unavailable-month {
  margin-bottom: 15px;
  text-decoration: none;
  opacity: 0.5;
  cursor: default;
}

.sidebar-content {
  padding: 120px 0;
}
