@import '../../styles';

.fill-space {
  flex: 1 1 auto
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.main-content {
  width: 100%;
}

.sidenav {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 200px;
  background-color: mat-color($messaging-app-primary);
}

.sidebar-content-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: [left-edge] 15% [content-left] 70% [content-right] 15% [right-edge];
  grid-template-rows: [top-edge] 10% [new-post-top] 10% [content-top] 80% [content-bottom];
  justify-items: start;
}

.new-post-container {
  grid-column-start: content-left;
  grid-column-end: content-right;
  grid-row-start: new-post-top;
  grid-row-end: content-top;
}

.feed-options {
  grid-column-start: content-left;
  grid-column-end: content-right;
  grid-row-start: content-top;
  grid-row-end: content-bottom;
}

p {
  margin-top: 15px;
  color: $messaging-app-text;
  font-size: $messaging-app-font-size;
  font-weight: $messaging-app-font-weight;
}

.unselected-section {
  margin-bottom: 15px;
  text-decoration: none;
  opacity: 0.9;
  cursor: pointer;
}

.unselected-section:hover {
  margin-bottom: 15px;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
}

.selected-section {
  margin-bottom: 15px;
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
}

.exit-button {
  margin-left: 18px;
}

.toolbar-text {
  font-size: $messaging-app-font-size-heavy;
  color: $messaging-app-text;
  font-weight: $messaging-app-font-weight;
}

.new-post-button {
  border-radius: 20px;
}
