<p>
  sidebar works!
</p>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" disableClose="true" [fixedInViewport]="false">
    <ul>
      <li #pending class={{pendingClass}}>Pending</li>
      <li #sent>
        <span class={{sentClass}}>Sent</span>
        <ul style.visibility={{sentMonthVisibility}}>
          <li class="{{monthHighlightingClassMap.get('august')}}">August</li>
          <li class="{{monthHighlightingClassMap.get('september')}}">September</li>
          <li class="{{monthHighlightingClassMap.get('october')}}">October</li>
          <li class="{{monthHighlightingClassMap.get('november')}}">November</li>
          <li class="{{monthHighlightingClassMap.get('december')}}">December</li>
          <li class="{{monthHighlightingClassMap.get('january')}}">January</li>
          <li class="{{monthHighlightingClassMap.get('february')}}">February</li>
          <li class="{{monthHighlightingClassMap.get('march')}}">March</li>
          <li class="{{monthHighlightingClassMap.get('april')}}">April</li>
          <li class="{{monthHighlightingClassMap.get('may')}}">May</li>
          <li class="{{monthHighlightingClassMap.get('june')}}">July</li>
          <li class="{{monthHighlightingClassMap.get('july')}}">June</li>
        </ul>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content (scroll)="checkScroll()">
    <app-feed #feed></app-feed>
  </mat-sidenav-content>
</mat-sidenav-container>
